.destaques {
    background-color: var(--baby-blue);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.destaques__titulo {
    color: var(--dark-grey-font);
    font-family: var(--alt-font);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;

}

.destaques__painel {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.destaques__painel-imagem {
    box-shadow: 0px 2px 10px 5px #00000020;
    border-radius: 0px;
    margin-bottom: .5rem;
    width: 100vw;
    max-width: 600px;
}

.destaques__painel-texto {
    color: var(--black-font);
    font-size: 1.2rem;
    font-weight: 400;
}

.destaques__botao {
    color: var(--dark-red-font);
    border-color: var(--dark-red-font);
    margin: 0 auto;
}